<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userService2" class="com.ioc.lic.service.UserServiceImpl2"></bean>
	<bean id="userDao" class="com.ioc.lic.dao.UserDaoImpl"></bean>

</beans>